#login{
    padding: 40px 0;
    background-color: #F3F5F9;
}
.login-form {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  box-shadow: 4px 6px 10px gray;
 background-color: aliceblue;
}
/* .login-form:hover{
    background-color: #7C83FD;
} */
.login-form h2{
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
    /* color: #224596; */
    color:#2382C4;
}
.login-banner {
    width: 100%;
}
.login-banner img{
  width: 78%;
}
.logIn-btn{
    color: #fff;
    border-radius: 5px;
    background-color: #224596;
}
.logIn-btn:hover{
    background-color: rgba(82, 121, 219, 0.835);
}
.email{
    text-align: left;
}
/* .google-btn{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background-color: rgba(82, 121, 219, 0.835);
    background-color: #1c44a8;
} */
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
  }
.login-text{
    color: #181D31;
    font-weight: bold;
}
.sign-btn {
    background-color: #1c44a8;
    color: white;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    border: none;
    max-width: 300px;
    width: 100%;
    margin: 10px auto;
    padding: 1px;
  }
.sign-text{
  margin: auto;
}
.g-logo-holder {
  background-color: white;
  padding: 5px;
}
.g-logo-holder img {
  width: 30px;
}