.registration-container{
    padding: 50px 0;
    background-color: #d3d3d3d8;
}
.registration-form{
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(../../images/banner/vaccine.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.title-color{
    color: #162B62;
}