.registration-container{
    padding: 50px 0;
    /* background-color: lightblue; */
}
.form-bg{
    background-image: url(../../images/banner/vaccine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.register-banner{
    width: 100%;
}
.account-color{
    color: #162B62;
}
.gl-logo{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}