.profileCard{
    /* background-color: blueviolet; */
    /* border: 2px solid gray;
    height: 380px;
    width: 400px;
    margin: 10px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    box-shadow:0 20px 30px rgba(0, 0, 0, 0.4);
    background-color: #1C658C;
    color: black; */
    /* border-radius: 25px 0 25px 0px; */
}