/* .doctorCard{
    margin: 10px;
    height: 150px;
    width: 400px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    box-shadow: 5px  5px 10px lightgray;
} */
.doctorCard{
    border: 2px solid gray;
    height: 180px;
    width: 400px;
    margin: 10px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    box-shadow:0 20px 30px rgba(0, 0, 0, 0.4);
    /* background-color: #5FACC0; */
    color: black;
    border-radius: 25px 0 25px 0px;
}
.primary-btn{
    outline: none;
    border: none;
    padding: 10px 17px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 7px 0 #9e7e8f;
    top: 0;
    /* background-image: linear-gradient(90deg, #5f9dee, #e7b7d2); */
    background-image: linear-gradient(90deg, #5f9dee, #275188);
}
.primary-btn:active{
    top:5px;
    box-shadow: 0 2px 0 #9b0b5a;
}
.fav-btn{
    outline: none;
    border: none;
    padding: 10px 17px;
    color: black;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 7px 0 #3d3137;
    top: 0;
    background-image: linear-gradient(90deg, #5f9dee, #275188);
}
.fav-btn:active{
    top: 5px;
    box-shadow: 0 2px 0 #9b0b5a;
}


.dr-color{
    font-size: 28px;
    color: rgba(167, 8, 95, 0.89);
}
.mail-Color{
    color: rgb(184, 32, 184);
}
.dr-icon{
    color: #943636;
    font-size: 18px;
}

.fav-icon:hover{
    color: #bb1f1f;
    font-size: 18px;
}