.profile-container{
    padding: 50px 0;
    background-color: #F3F5F9;
}
.heading-color{
    color: #890036;
}
.profile-form{
    margin: 30px 150px;
}
.profile-form input {
    display: block;
    width: 100%;
    border: 1px solid black;
    outline: none;
    margin-top: 10px;
    padding: 8px;
    border-radius: 10px;
}
.profile-form textarea{
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}
.profile-form select{
    margin: 10px;
}
/* .age-input{
    width: 50%;
} */
.error{
    color: red;
}
.submitBtn{
    background-color: #890036;
    color: #F3F5F9;
    font-size: 18px;
    font-weight: 500;
}
.profile-card{
    background-color: #1b3261;
    border-radius: 0 0 30px 30px;
}