.navigation{
    box-shadow: 5px 5px 5px lightgray;
    background-color: rgba(82, 121, 219, 0.835);
}
.title{
    font-size:22px;
    font-weight: bold;
}
.title-color{
    /* color: #1c44a8; */
    color: #132031;
    /* color: #2952AE; */
    /* color: #2382C4; */
}
.menu-logo img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.item{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.item:hover{
    color: dimgray;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.user{
    color: #fff;
    font-weight: bold;
}