.contact-container{
    padding: 50px 0;
    background-color: #373737;
    height: 100%;
}
.contacts-form input{
    width: 50%;
    border-radius: 3px;
    border: 1px solid #F3F5F9;
    padding: 5px;
    margin: 10px;
    color: black;
    font-size: 16px;
    line-height: 24px;
    overflow: visible;
}
.contacts-form textarea{
    width: 50%;
    /* background-color: transparent; */
    border-radius: 3px;
    border: 1px solid #F3F5F9;
    padding: 10px;
    height: 115px;
    color: black;
    font-size: 16px;
    line-height: 24px;
}

.send-btn{
    width: 30%;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    font-size: 14px;
    line-height: 20px;
}