.footer-container{
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
    background-color:#132031;
}

.footer-logo img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.footer-title{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-details{
    text-align: center;
}
.footer-details p{
    text-align: center;
}
.footer-menu{
    padding: 50px 0; 
}
.footer-menu h4{
    color: lightgray;
    padding-bottom: 5px;
    text-align: left;
}
ul{
    text-align: left;
}
 ul li{
    list-style: none;
    margin-bottom: 10px;
}
 ul li a{
    text-decoration: none;
}
.menu{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.menu:hover{
    color: darkgray;
}
.contact-info{
    text-align: left;
}
.local-btn{
    outline: none;
    border: none;
    padding: 10px 17px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 7px 0 #caaabb;
    top: 0;
    background-color: rgb(252, 252, 62);
    color: #132031;
}
.local-btn:active{
    top: 5px;
    box-shadow: 0 2px ;
}