.services-container{
    padding: 50px 0;
    background-color: #ededee;
}
.services-title{
    display: inline-block;
}
.services-title::after{
    content: '';
     margin: 0 auto;
    width: 50%; 
    height: 2px;
    display: block;
    background-color: blue;
}
.pagination{
    margin: 30px;
}
.pagination button{
    padding: 0, 10px;
    margin-right: 20px;
}
.pagination .selected{
    background-color: rgb(127, 69, 182);
    color: #fff;
}