.carousel-img img{
    max-height: 645px;
}
.slider-title{
    color: #132031;
    font-size: 25px;
    font-weight: 600;
}

.slider-text{
    color: #2382c4;
    font-size: 40px;
    font-weight: bold;
}