.carousel-img img{
    max-height: 645px;
}
.slider-title{
    color: #132031;
    font-size: 25px;
    font-weight: 600;
}

.slider-text{
    color: #2382c4;
    font-size: 40px;
    font-weight: bold;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
    .carouselBg{
        height: 100vh;
        width: 100vw;
    }

    .centertext{
        margin-bottom: 350px;
        font-size: 50px;
        
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .carouselBg img{
       height: 100vh;
       width: 100vw;
       
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .carouselBg img{
        height: 100vh;
        width: 100vw;
        
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .carouselBg img{
        height: 100vh;
        width: 100vw;
       
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .carouselBg img{
        height: 100vh;
        width: 100vw;
    }
}