.appointment{
    padding: 50px 0;
    background-color: #F3F5F9;
}
.image-cart img{
    width: 200px;
    border-radius: 10px;
}
.demo{
    height: 300px;
    box-shadow: 2px 4px 10px gray;
    border-radius: 5px;
}
.appointment-banner img{
    width: 100%;
}