.testCenter-container{
    padding: 50px 0;
}
.form-container input{
    border: 2px solid black;
    width: 100%;
}
.form-container{
    width: 550px !important;
    border: 3px solid  black;
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-container h2{
    color: white;
    font-weight: 500;
}

.testBtn{
    outline: none;
    border: none;
    padding: 8px 12px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 7px 0 #3d3137;
    top: 0;
    background-image: linear-gradient(90deg, #5f9dee, #1c6dd6);
    margin-top: 30px;
}
.testBtn{
    top: 5px;
    box-shadow: 0 2px #3d3137;
    border-bottom: 1px solid #f0f0f0;
}