body{
    font-family: 'Poppins', sans-serif;
}
.home-container{
    padding: 50px 0;
}
.view-btn{
    outline: none;
    border: none;
    padding: 8px 12px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 7px 0 #3d3137;
    top: 0;
    background-image: linear-gradient(90deg, #5f9dee, #275188);
    margin-top: 30px;
}
.view-btn:active{
    top: 5px;
    box-shadow: 0 2px #3d3137;
    border-bottom: 1px solid #f0f0f0;
}